@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Container Main----------------------------------*/
.container-main{
    max-width: 1300px;
    min-height: 1024px;
    background-color: #E5E5E5;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}

.container-main h1{
    font-size: 30px;
    display: inline-block;
    margin: 42px 0 63px 461px;
}

.sub-titulo{
    display: flex;
}
.sub-titulo h2{
    display: inline-block;
    margin-left: 30px;
    font-size: 24px;
}

.sub-titulo h3{
    display: inline-block;
    margin-left: 520px;
    font-size: 24px;
} 
/* ---------------------------------------- Container Sections----------------------------------*/
.container-sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rendimento, .indexacao{
    margin: 42px 0 0 30px;
}

.rendimento h3, .indexacao h3{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.i-code{
    display: inline-block;
    margin-left: 89px;
}

.button-disabled {
    position: relative;
    display: inline-block;
    width: 103px;
    height: 50px; 
    border: 1px solid black;  
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.button-disabled img{
    display: none;
}

.button-enabled{
    position: relative;
    display: inline-block;
    width: 103px;
    height: 50px; 
    border: 1px solid black;  
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ED8E53;
    color:white;
}


.button-enabled  img{
    display: inline-block;
}

.pre, .pos, .fixado{
    position: relative;
    display: inline-block;
    width: 82px;
    height: 50px;
    border: 1px solid black;  
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}



/* .pos{
    background-color: #ED8E53;
    color: white;
    box-shadow: 2px 0 4px black;
} */

form{
    margin-top: 30px;

}
.form-group{
    margin-bottom: 30px;
}
.form-group input{
    border: none;
    outline: none;
    background-color: #E5E5E5;
    border-bottom: 1px solid black;
    margin-top: 70px;
    font-size: 20px
}

.form-group input::placeholder{
    font-size: small
}

.btn-clean-send{
    margin:92px 0 0 30px; 
    width: 240px;
    height: 50px;
    background: #E5E5E5;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    outline: none;

}

.msg-p{
    display: none;
}
.msg-erro{
    color: red;
    display: block;
}

.btn-clean-send:hover{
    background-color: #969696;
}

#resultado-simulacao{
    max-width: 660px;
    margin-left: 18px;
    
}

.card-style{
    display: inline-block;
    text-align: center;
    background-color: F4F4F4;
    box-shadow: 0 0 3px 1px gray;;
    width: 200px;
    margin-left: 10px;
    margin-top: 50px;
    padding: 5px;

}

.card-style p{
    margin-top: 30px;
}
