@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------- Container Main----------------------------------*/
.container-main{
    max-width: 1300px;
    min-height: 1024px;
    background-color: #E5E5E5;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}

.container-main h1{
    font-size: 30px;
    display: inline-block;
    margin: 42px 0 63px 461px;
}

.container-main h2{
    margin-left: 30px;
    font-size: 24px;
}
/* ---------------------------------------- Container Sections----------------------------------*/
.container-sections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rendimento, .indexacao{
    margin: 42px 0 0 30px;
}

.rendimento h3, .indexacao h3{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.i-code{
    display: inline-block;
    margin-left: 89px;
}

.bruto, .liquido{
    position: relative;
    display: inline-block;
    width: 103px;
    height: 50px; 
    border: 1px solid black;  
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.bruto p, .liquido p{
    display: inline-block;
    margin-top:16px;
}


.pre, .pos, .fixado{
    position: relative;
    display: inline-block;
    width: 82px;
    height: 50px;
    border: 1px solid black;  
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.pre p, .pos p, .fixado p{
    display: inline-block;
    margin-top:16px;
}

/* .pos{
    background-color: #ED8E53;
    color: white;
    box-shadow: 2px 0 4px black;
} */

form{
    margin-top: 30px;

}

.form-group input{
    border: none;
    outline: none;
    background-color: #E5E5E5;
    border-bottom: 1px solid black;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 20px
}

.container-main button{
    margin:92px 0 0 30px; 
    width: 240px;
    height: 50px;
    background: #E5E5E5;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    outline: none;


}

.container-main button:hover{
    background-color: #969696;
}